<% layout('./layouts/boilerplate') %>

<div class="text-center">
  <% if(currentUser) { %>
    <h1 class="display-1">Hi, <span class="text-primary"><%= currentUser.username %>!</span></h1>
  <% } else { %>
    <h1 class="display-1">Hi, <span class="text-primary">Guest!</span></h1>
  <% } %>
  <p class="lead">Welcome to CampGuide!</p>
</div>
